<div class="login-container">
  <div class="login-box">
    <h2>Bienvenido a LatMpx TV+</h2>
    
    <div class="form-group">
      <label>Usuario</label>
      <input type="text" #user class="form-control" placeholder="Ingresa tu usuario">
    </div>

    <div class="form-group">
      <label>Contraseña</label>
      <div class="password-wrapper">
        <input [type]="isPasswordVisible ? 'text' : 'password'" #pass class="form-control" placeholder="Ingresa tu contraseña">
        
        <button type="button" class="eye-btn" (click)="togglePasswordVisibility()">
          @if (isPasswordVisible) {
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
          } @else {
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path>
              <line x1="1" y1="1" x2="23" y2="23"></line>
            </svg>
          }
        </button>
      </div>
    </div>

    <div class="action-buttons">
      <button class="btn-primary" [disabled]="isLoading" (click)="login(user.value, pass.value)">
        {{ isLoading ? 'Conectando...' : 'Entrar' }}
      </button>
      <button class="btn-secondary" [disabled]="isLoading" (click)="activateDemo(demoCode.value)">
        Auto-Demo
      </button>
    </div>

    <div class="demo-divider" (click)="toggleDemoPanel()">
      <div class="line"></div>
      <div class="tab">
        @if (!isDemoPanelOpen) {
          <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>
        } @else {
          <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M18 15l-6-6-6 6"/></svg>
        }
      </div>
      <div class="line"></div>
    </div>

    <div class="demo-panel" [class.expanded]="isDemoPanelOpen">
      <input type="text" #demoCode class="form-control" placeholder="ID o Código del demo (Opcional)">
    </div>

    @if (errorMessage) {
      <div class="error-message" [class.success]="isSuccessMessage">
        {{ errorMessage }}
      </div>
    }
  </div>
</div>